# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
ENV/
.env.*

# Packaging
build/
dist/
*.egg-info/
.eggs/

# Tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
